@page
@model Task1.Pages.View_GoodsModel
@{
}

<h1>Goods Donation</h1>

<h4>@Model.hasData</h4>
<table class="customers">
    <tr>
        <th>ID</th>
        <th>Number Of Goods</th>
        <th>Category</th>
        <th>Self Category</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tbody>
        @foreach (var list in Model.getClass)
        {
        <tr>
            <td>@list.getRow()</td>
            <td>@list.getNumber()</td>
            <td>@list.getCategory()</td>
            <td>@list.getNewCategory()</td>
            <td>@list.getDate()</td>
            <td>
                <a class="button1" href="#">Delete</a>
                <a href="button2">Update</a>
                <a href="button3">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
